.yellow-button {
    color: rgb(0, 0, 0);
    font-weight: 300;
    background-color: var(--secondary-color);
    padding: 0.2rem 0.6rem;
    width: fit-content;
    text-decoration: none;
    margin: 0 1rem;
    border: 2px solid black;
}